<div class="home-banner">
  <h1>On My Way</h1>
  <p>If you don't have time, someone will have it for you</p>
</div>

<div class="wrapper">
  <div class="container">
    <div class="row">
      <% @deliveries.each do |delivery| %>
        <div class="col-xs-4">
          <div class="card">


            <div class="card-restaurant" style="background-image: url('<%= image_path delivery.restaurant.picture %>')">
              <h3><%= delivery.restaurant.name %></h3>
            </div>

            <div class="card-delivery-guy">
              <p><%= delivery.restaurant.category.name %></p>
              <p>Book before :</p>
              <h3><%= delivery.closing_at %></h3>
              <%= image_path delivery.user.picture, class: "avatar" %>
            </div>

          </div>
        </div>
      <% end %>
    </div>
  </div>

  <div class="map">
    GOOGLE MAP
  </div>
</div>
