  <div class="banner banner-smaller" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('<%= image_path @delivery.restaurant.picture %>')">
    <div class="banner-content">
      <h1><p>Your today delivery is</p><%= @restaurant.name %></h1>
      <p class="small-font"><%= @restaurant.category.name %></p>
      <p class="small-font"><%= @restaurant.address %></p>
      <p class="small-font">Closing at : <%= @delivery.closing_at.strftime("%d/%m/%Y at %k:%M") %></p>
    </div>
  </div>


<div class="container">
  <div class="wrapper">
    <div class="card">

      <div class="my-show-card">
        <h4>Bookings are :</h4>
        <ul class="list-unstyled">
          <% @bookings.each do |booking| %>
            <li>
              <h6><%= cl_image_tag booking.user.picture, class: "card-user" %>
              <%= "#{booking.user.first_name} #{booking.user.last_name}" %></h6>
              <p><%= "#{booking.user.address}" %></p>
              <h6 id="message-content"><%= "#{booking.content}" %> </h6>
            </li>
          <% end %>
        </ul>
      </div>
      <div class="card-my-delivery-button my-delivery">

        <div class="card-my-booking-status  ">

          <div class="<%= delivery_color_status(@delivery.status) %>">
             <%= @delivery.status.capitalize %>
          </div>
        </div>

        <% if @delivery.status == "in_progress" %>
          <%= button_to done_my_delivery_path(@delivery), class: "btn btn-success", method: :done do %>
              Delivered ?
          <% end %>
        <% end %>
      </div>

    </div>

    <div class="wrapper-show">
      <div id="map" class="map" style="width: 100%" data-markers="<%= @markers_show.to_json %>">
      </div>
    </div>
  </div>
</div>
