<div class="navbar-wagon">
  <!-- Logo -->
  <%= link_to root_path, class: "navbar-wagon-brand" do %>
  <img src="https://alatoo-frozenfood.co.uk/wp-content/uploads/2017/11/58209.png" alt="logo">
  <% end %>



  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">


    <div class="search">
      <%= render 'deliveries/search', query: params[:query] %>
    </div>




    <% if user_signed_in? %>

      <!-- Links when logged in -->
      <%= link_to "Create a new delivery", new_delivery_path, class: "navbar-wagon-item navbar-wagon-link" %>


      <!-- Avatar with dropdown menu -->
      <div class="navbar-wagon-item">
        <div class="dropdown">

          <% if current_user.picture == nil %>
            <%= image_tag "user.png", class: "avatar dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown"  %>
          <% else %>
            <%= cl_image_tag current_user.picture, class: "avatar dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown"  %>
          <% end %>


          <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
            <li>
              <%= link_to "My deliveries", my_deliveries_path  %>
            </li>
            <li>
              <%= link_to "My bookings", bookings_path  %>
            </li>
            <li>
              <%= link_to destroy_user_session_path, method: :delete do %>
                <i class="fa fa-sign-out"></i>  <%= t(".sign_out", default: "Log out") %>
              <% end %>
            </li>
          </ul>
        </div>
      </div>
    <% else %>
      <!-- Login link (when logged out) -->
      <%= link_to t(".sign_in", default: "Login"), new_user_session_path, class: "navbar-wagon-item navbar-wagon-link" %>

      <%= link_to t(".sign_in", default: "Sign up"), new_user_registration_path, class: "navbar-wagon-item navbar-wagon-link" %>
    <% end %>
  </div>


  <!-- Dropdown list appearing on mobile only -->
  <div class="navbar-wagon-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <% if current_user==nil %>
        <li><%= link_to t(".sign_in", default: "Login"), new_user_session_path  %></li>
        <li><%=  link_to t(".sign_in", default: "Sign up"), new_user_registration_path%></li>
        <% else %>
        <li><%= link_to destroy_user_session_path, method: :delete do %>
                <i class="fa fa-sign-out"></i>  <%= t(".sign_out", default: "Log out") %></li>
          <% end %>
        <% end %>
        <li><%= link_to "Create a new delivery", new_delivery_path %></li>
        <li> <%= link_to "My deliveries", my_deliveries_path  %></li>
        <li><%= link_to "My bookings", bookings_path  %></li>
        <li><%= link_to "My deliveries", my_deliveries_path  %></li>
        <li><%= link_to "My bookings", bookings_path  %></li>
      </ul>
    </div>
  </div>
</div>

